.bounce {
    animation: bounce 0.2s linear;
}

@keyframes bounce {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(300);
        opacity: 1;
    }
}
